# Intentionally made this strict so I dont accidentally use the wrong user info
[includeIf "gitdir:~/Projects/atlassian/"]
    path = ~/Projects/atlassian/.gitconfig

[includeIf "gitdir:~/Projects/github/"]
    path = ~/Projects/github/.gitconfig

[push]
	default = current
[remote]
	pushDefault = origin
[core]
	editor = vim
[init]
	defaultBranch = main
[trace2]
	eventTarget = /Users/mdejongh/.gittrace/dump
	configparams = custom.metacommands
	eventBrief = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
