# Intentionally made this strict so I dont accidentally use the wrong user info
[includeIf "gitdir:~/Projects/atlassian/"]
    path = ~/Projects/atlassian/.gitconfig

[includeIf "gitdir:~/Projects/github/"]
    path = ~/Projects/github/.gitconfig

[push]
	default = simple
	autoSetupRemote = true
[remote]
	pushDefault = origin
[core]
	editor = vim
	pager = delta
		
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	merge-commits = "!funct() { git log --merges --reverse --oneline --ancestry-path $1..origin | grep \"Merged pull request\";  }; funct"
	pr-number = "!funct() { git merge-commits $1 | head -n1 | sed -n \"s/^.*Merged pull request #\\\\s*\\\\([0-9]*\\\\).*$/\\\\1/p\"; }; funct"
	web-url = "!funct() { git config remote.origin.url | sed -e\"s/git@/https:\\/\\//\" -e\"s/\\.git$//\" | sed -E \"s/(\\/\\/[^:]*):/\\1\\//\"; }; funct"
	pr = "!funct() { open \"`git web-url`/pull-requests/`git pr-number $1`\" ;}; funct"
	conflicted = diff --name-only --diff-filter=U --relative
	root = rev-parse --show-toplevel
	find-hash = "!f() { git log --grep=\"$1\" -n 1 --format=%H; }; f"
	files = "!git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")"
	stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
	depgraph = !git madge image --webpack-config webpack.config.js --basedir . --style solarized-dark src
	heatmap = "!f() { git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")...HEAD | grep -v -E \"\\\\.(json|lock)$\" | sort | uniq -c | sort -nr | head -n 25; }; f"
	wt = "!f() { cd $(git worktree list | fzf | awk \"{print \\$1}\") && exec $SHELL; }; f"
	gWs = "!f() { cd $(git worktree list | fzf | awk \"{print \\$1}\") && exec $SHELL; }; f"
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[fetch]
	prune = true
	pruneTags = true
[gui]
	pruneDuringFetch = true
[user]
	email = mdejongh@atlassian.com
	name = Marco de Jongh
[trace2]
	eventTarget = af_unix:/Users/mdejongh/.gittrace/trace.sock
	eventBrief = true
	eventNesting = 1
	configparams = custom.metacommands
[credential "http://localhost:7990"]
	provider = generic
[http]
	useragent = bb-cli/0.4.0
[maintenance]
	repo = /Users/mdejongh/Projects/atlassian/afm/master
	repo = /Users/mdejongh/Projects/atlassian/afm/checkouttwo
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autosquash = true
	autoStash = true
	updateRefs = true
[merge]
	conflictstyle = zdiff3
[pull]
	rebase = true
[diff]
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
	algorithm = histogram
[help]
	autocorrect = prompt
