# Intentionally made this strict so I dont accidentally use the wrong user info
[includeIf "gitdir:~/Projects/atlassian/"]
    path = ~/Projects/atlassian/.gitconfig

[includeIf "gitdir:~/Projects/github/"]
    path = ~/Projects/github/.gitconfig

[push]
	default = current
[remote]
	pushDefault = origin
[core]
	editor = vim
[init]
	defaultBranch = main
